* {
    box-sizing: border-box;
    cursor: default;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.dark-mode-h1 {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.main-h1 {
    margin-bottom: 15px;
    font-size: 70px;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.select-mode {
    margin-left: 10px;
    font-size: 18px;
    max-width: 200px;
    min-height: 30px;
    width: 10vw;
    border: 4px outset #ececec;
}

body {
    background-color: white;
    color: black;
    text-align: center;
}

.dark-mode {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

h2 {
    border-width: 2px 0px 2px 0px;
    border-style: dashed;
    border-color: #5edc4a;
    color: #5edc4a;
    font-family: fantasy;
    padding: 10px;
    margin-bottom: 20px;
}

table {
    margin: auto;
    margin-top: 40px;
    border: 4px solid gray;
}

footer {
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

.timer {
    color: red;
    background-color: black;
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 7px;
    padding-top: 6px;
    border: 4px outset #ececec;
    display: unset;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* margin: 20px auto; */
}

.timer-and-smiley {
    margin-bottom: 10px;
}

.levels {
    margin: auto;
}

.hidden {
    display: none;
}

h3 {
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.features {
    margin-top: 20px;
}

.features button .hint {
    width: 30px;
    height: 30px;
}

.features-two {
    margin-top: 20px;
}

.cell {
    font-size: 15px;
    font-family: fantasy;
    border: solid #808080;
    border-width: 0 1px 1px 0;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #bdbdbd;
}

.hidden-cell {
    border: 4px outset #ececec;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: darkblue;
}

.smiley {
    border: 4px outset #ececec;
    font-size: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
}

.shown-and-mark {
    margin-top: 20px;
    margin-bottom: 20px;
}

.shown {
    margin-right: 20px;
}

.mark {
    margin-left: 20px;
}

.shown-and-mark span {
    font-size: 20px;
    font-family: fantasy;
}

.dark-mode-btn {
    border: 4px outset #ececec;
    font-size: 18px;
    margin-right: 10px;
}

.hint {
    font-size: 15px;
    padding: 5px 10px;
}

.hint3,
.manual-click,
.mega-hint-click,
.undo-click {
    margin-right: 10px;
}

.safe-click,
.manual-click,
.mega-hint-click,
.undo-click,
.exterminator-click {
    border: 4px outset #ececec;
    font-size: 18px;
}